Repository wandb/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

.pre-commit-config.yaml:

default_stages:
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
      - id: end-of-file-fixer
        name: end-of-file-fixer
      - id: check-yaml
        name: check-yaml
      - id: check-added-large-files
        name: check-added-large-files
      - id: check-shebang-scripts-are-executable
        name: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
        name: check-executables-have-shebangs
      - id: check-symlinks
        name: check-symlinks
      - id: check-toml
        name: check-toml
      - id: debug-statements
        name: debug-statements
      - id: forbid-submodules
        name: forbid-submodules
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        files: '^nexus/'
  - repo: local
    hooks:
      - id: go-fmt
        name: 'go-fmt'
        entry: nexus/scripts/pre-commit-hooks/run-go-fmt.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `gofmt`, requires golang"
      - id: go-imports
        name: 'go-imports'
        entry: nexus/scripts/pre-commit-hooks/run-go-imports.sh
        files: '\.go$'
        exclude: 'nexus/pkg/service/'
        language: 'script'
        description: "Runs `goimports`, requires golang"
      - id: go-unit-tests
        name: 'go-unit-tests'
        entry: nexus/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go test`"
        require_serial: true
      - id: go-vet
        name: 'go-vet'
        entry: nexus/scripts/pre-commit-hooks/run-go-vet.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go vet`, requires golang"
        require_serial: true
      - id: golangci-lint
        name: 'golangci-lint'
        entry: nexus/scripts/pre-commit-hooks/run-golangci-lint.sh
        types: [go]
        language: 'script'
        pass_filenames: false
      - id: go-critic
        name: 'go-critic'
        entry: nexus/scripts/pre-commit-hooks/run-go-critic.sh
        files: '\.go$'
        language: 'script'
        pass_filenames: false
        description: "Runs `go-critic`, requires https://github.com/go-critic/go-critic"
      - id: go-cyclo
        name: 'go-cyclo'
        entry: nexus/scripts/pre-commit-hooks/run-go-cyclo.sh
        files: '\.go$'
        exclude: 'nexus/pkg/service/'
        language: 'script'
        description: "Runs `gocyclo`, requires https://github.com/fzipp/gocyclo"
        args:
          - -over=15
      - id: go-mod-tidy
        name: 'go-mod-tidy'
        entry: nexus/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: 'script'
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-generate
        name: 'go-generate'
        entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.(proto|graphql)$'
        pass_filenames: false
        language: 'script'
        description: "Runs `go generate`, requires golang"
      - id: go-build
        name: 'go-build'
        entry: nexus/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go build`, requires golang"

fix(nexus): make system monitor shutdown more robust (#65)
  nexus/pkg/monitor/monitor.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): add metadata (#32)
  nexus/api/proto/wandb_internal.proto
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/settings.go
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

fix(nexus): netrc stores info by host without port (#78)
  nexus/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): improve filestream (#44)
  nexus/pkg/server/clients.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/filestream_test.go
  nexus/pkg/server/logging.go
  nexus/pkg/server/schema_gen.go
  nexus/pkg/server/sender.go
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): rename to wandb-core and prep for alpha release (#27)
  nexus/Makefile
  nexus/setup.py
  nexus/wandb_core/__init__.py
Due: none

chore(nexus): add run script for env _WANDB_NEXUS_PATH (#54)
  nexus/scripts/run-nexus.sh
Due: none

feat(nexus): support project and entity with wandb.init() (#72)
  .circleci/config.yml
  nexus/generate.go
  nexus/go.mod
  nexus/go.sum
  nexus/internal/gqltest/generate.go
  nexus/internal/gqltest/gqltest_gen.go
  nexus/internal/nexustest/nexustest.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/sender_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): clean up dev environment scripts (#55)
  nexus/scripts/run-nexus.sh
  nexus/scripts/setup-nexus-path.sh
Due: none

fix(nexus): minor clean ups (#84)
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): switch to slog form logsaurus (#28)
  nexus/cmd/nexus/main.go
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/logging.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/store.go
  nexus/pkg/server/tokenizer.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): update dev env setup (#53)
  nexus/scripts/install-protoc.sh
  nexus/scripts/update-dev-env.sh
Due: none

ci(sdk): add basic nexus testing (#15)
  .circleci/config.yml
  tests/pytest_tests/system_tests/test_nexus/conftest.py
  tests/pytest_tests/system_tests/test_nexus/test_nexus.py
Due: none

chore(nexus): propagate stream context all the way down (#39)
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add support for alerts (#68)
  nexus/api/graphql/genqlient.yaml
  nexus/api/graphql/mutation_alert.graphql
  nexus/pkg/server/handler.go
  nexus/pkg/server/schema_gen.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

fix(nexus): fix job type message-related breakage (#38)
  .circleci/config.yml
  nexus/api/proto/wandb_internal.proto
  nexus/pkg/server/handler.go
  nexus/pkg/server/logging.go
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

feat(nexus): add stream multiplexer (#17)
  nexus/pkg/server/connection.go
  nexus/pkg/server/request.go
  nexus/pkg/server/server.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/stream_manager.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add basic summary support (#76)
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): add stream specific logging (log-internal) (#30)
  nexus/cmd/nexus/main.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/logging.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
  nexus/pkg/server/tokenizer.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add basic system monitoring (#42)
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/monitor/memory.go
  nexus/pkg/monitor/monitor.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(nexus): add context cancellation and waitgrouping to connection (#23)
  nexus/cmd/nexus/main.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/server.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_manager.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): fix issues in handler and sender (#87)
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add support for partial history (#58)
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

test(sdk): fix filestream test issue and add race check (#73)
  .circleci/config.yml
  nexus/pkg/server/filestream.go
  nexus/pkg/server/filestream_test.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): timeout in fs (#60)
  nexus/pkg/server/filestream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): add implicit finish to teardown (#16)
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/mailbox.go
  nexus/pkg/server/request.go
  nexus/pkg/server/responder.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): bump version for alpha2 (#74)
  nexus/pkg/server/sender.go
  nexus/setup.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add cpu asset and more metrics to memory asset in system monitor (#66)
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/monitor/cpu.go
  nexus/pkg/monitor/memory.go
  nexus/pkg/monitor/monitor.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): add pre-commit github action (#50)
  .github/workflows/pre-commit.yml
  nexus/api/graphql/generate.go
  nexus/api/proto/generate.go
  nexus/cmd/nexus/main.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/server.go
  nexus/pkg/server/writer.go
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/generate-graphql.sh
  nexus/scripts/generate-proto.sh
  nexus/scripts/install-protoc.sh
  nexus/scripts/update-dev-env.sh
  nexus/scripts/update-dev-env.txt
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): log http requests to slog logger (#49)
  nexus/pkg/server/clients.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): clean up the logging messages (#45)
  nexus/cmd/nexus/main.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
  nexus/pkg/server/uploader.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): support run.summary changes from user (#77)
  nexus/internal/nexuslib/summarylib.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(nexus): clean up (#24)
  nexus/api/proto/wandb_internal.proto
  nexus/cmd/nexus/main.go
  nexus/pkg/server/clients.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/history.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/mailbox.go
  nexus/pkg/server/responder.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_manager.go
  nexus/pkg/server/stream_mux.go
  nexus/pkg/server/tokenizer.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

fix(nexus): pass exitcode on server teardown (#89)
  nexus/pkg/server/connection.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): github precommit should ship graphql checks for now (#51)
  .github/workflows/pre-commit.yml
  nexus/scripts/generate-graphql.sh
Due: none

chore(nexus): add install-pinned script for pinned dev packages (#35)
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/install-pinned.sh
  nexus/scripts/install-pinned.txt
  nexus/scripts/proto-build.sh
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

chore(nexus): use settings with spelled out types (#26)
  nexus/api/proto/wandb_server.proto
  nexus/api/proto/wandb_settings.proto
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/auth/netrc.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/proto-build.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

fix(nexus): send exitcode as last filestream message (#90)
  nexus/pkg/server/filestream.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): fix run finish path (#85)
  nexus/pkg/monitor/monitor.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/logging.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add basic console support (#63)
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Create README.md
  README.md
Due: none
