Repository wandb/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

.pre-commit-config.yaml:

default_stages:
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
      - id: end-of-file-fixer
        name: end-of-file-fixer
      - id: check-yaml
        name: check-yaml
      - id: check-added-large-files
        name: check-added-large-files
      - id: check-shebang-scripts-are-executable
        name: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
        name: check-executables-have-shebangs
      - id: check-symlinks
        name: check-symlinks
      - id: check-toml
        name: check-toml
      - id: debug-statements
        name: debug-statements
      - id: forbid-submodules
        name: forbid-submodules
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        files: '^nexus/'
  - repo: local
    hooks:
      - id: go-fmt
        name: 'go-fmt'
        entry: nexus/scripts/pre-commit-hooks/run-go-fmt.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `gofmt`, requires golang"
      - id: go-imports
        name: 'go-imports'
        entry: nexus/scripts/pre-commit-hooks/run-go-imports.sh
        files: '\.go$'
        exclude: 'nexus/pkg/service/'
        language: 'script'
        description: "Runs `goimports`, requires golang"
      - id: go-unit-tests
        name: 'go-unit-tests'
        entry: nexus/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go test`"
        require_serial: true
      - id: go-vet
        name: 'go-vet'
        entry: nexus/scripts/pre-commit-hooks/run-go-vet.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go vet`, requires golang"
        require_serial: true
      - id: golangci-lint
        name: 'golangci-lint'
        entry: nexus/scripts/pre-commit-hooks/run-golangci-lint.sh
        types: [go]
        language: 'script'
        pass_filenames: false
      - id: go-critic
        name: 'go-critic'
        entry: nexus/scripts/pre-commit-hooks/run-go-critic.sh
        files: '\.go$'
        language: 'script'
        pass_filenames: false
        description: "Runs `go-critic`, requires https://github.com/go-critic/go-critic"
      - id: go-cyclo
        name: 'go-cyclo'
        entry: nexus/scripts/pre-commit-hooks/run-go-cyclo.sh
        files: '\.go$'
        exclude: 'nexus/pkg/service/'
        language: 'script'
        description: "Runs `gocyclo`, requires https://github.com/fzipp/gocyclo"
        args:
          - -over=15
      - id: go-mod-tidy
        name: 'go-mod-tidy'
        entry: nexus/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: 'script'
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-generate
        name: 'go-generate'
        entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.(proto|graphql)$'
        pass_filenames: false
        language: 'script'
        description: "Runs `go generate`, requires golang"
      - id: go-build
        name: 'go-build'
        entry: nexus/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go build`, requires golang"

clean up logging messages
  nexus/cmd/nexus/main.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
  nexus/pkg/server/uploader.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

minor clean up
  nexus/pkg/server/filestream.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

improve docstring
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

more docs
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

and more docs
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): clean up the logging messages (#45)
  nexus/cmd/nexus/main.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
  nexus/pkg/server/uploader.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add sentry
  nexus/cmd/nexus/main.go
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/analytics/sentry.go
  nexus/pkg/server/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add sentry
  nexus/cmd/nexus/main.go
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/connection.go
  nexus/pkg/server/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add sentry
  nexus/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add sentry
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add sentry
  nexus/pkg/server/dispatcher.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): log http requests to slog logger
  nexus/pkg/server/clients.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix some lint
  nexus/pkg/server/clients.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update lint
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): log http requests to slog logger (#49)
  nexus/pkg/server/clients.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): add pre-commit github action
  .github/workflows/pre-commit.yml
Due: none

add prepush extra
  .github/workflows/pre-commit.yml
Due: none

update
  .github/workflows/pre-commit.yml
Due: none

fix
  nexus/scripts/update-dev-env.sh
Due: none

update scripts
  .github/workflows/pre-commit.yml
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/proto-build.sh
  nexus/scripts/update-dev-env.txt
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

add
  nexus/scripts/install-protoc.sh
Due: none

update
  nexus/api/graphql/generate.go
  nexus/api/proto/generate.go
  nexus/cmd/nexus/main.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/server.go
  nexus/pkg/server/writer.go
  nexus/scripts/generate-graphql.sh
  nexus/scripts/generate-proto.sh
  nexus/scripts/update-dev-env.txt
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): add pre-commit github action (#50)
  .github/workflows/pre-commit.yml
  nexus/api/graphql/generate.go
  nexus/api/proto/generate.go
  nexus/cmd/nexus/main.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/server.go
  nexus/pkg/server/writer.go
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/generate-graphql.sh
  nexus/scripts/generate-proto.sh
  nexus/scripts/install-protoc.sh
  nexus/scripts/update-dev-env.sh
  nexus/scripts/update-dev-env.txt
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

text version change
  nexus/scripts/update-dev-env.txt
Due: none

minor clean up
  nexus/pkg/server/connection.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix merge conflicts
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

explicit skip for graphql
  .github/workflows/pre-commit.yml
  nexus/scripts/generate-graphql.sh
Due: none

updae
  nexus/scripts/update-dev-env.txt
Due: none

chore(nexus): github precommit should ship graphql checks for now (#51)
  .github/workflows/pre-commit.yml
  nexus/scripts/generate-graphql.sh
Due: none

fiddle(sentry): setup approaches
  nexus/cmd/nexus/main.go
  nexus/pkg/analytics/sentry.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fiddle(sentry): setup approaches
  nexus/cmd/nexus/main.go
  nexus/pkg/analytics/sentry.go
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fiddle(sentry): setup approaches
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

minimal working attach version
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

minor log fixup
  nexus/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move responder logic out
  .pre-commit-config.yaml
  nexus/pkg/server/connection.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove handle function from stream
  nexus/pkg/server/connection.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add comment about changing attach logic
  nexus/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

undo changes
  .pre-commit-config.yaml
Due: none
