Repository wandb/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate

go-fmt:
  name: go-fmt
  entry: nexus/scripts/pre-commit-hooks/run-go-fmt.sh
  language: script
  description: Runs `gofmt`, requires golang

go-imports:
  name: go-imports
  entry: nexus/scripts/pre-commit-hooks/run-go-imports.sh
  language: script
  description: Runs `goimports`, requires golang

go-unit-tests:
  name: go-unit-tests
  entry: nexus/scripts/pre-commit-hooks/run-go-unit-tests.sh
  language: script
  description: Runs `go test`
  require_serial: true

go-vet:
  name: go-vet
  entry: nexus/scripts/pre-commit-hooks/run-go-vet.sh
  language: script
  description: Runs `go vet`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: nexus/scripts/pre-commit-hooks/run-golangci-lint.sh
  language: script
  pass_filenames: false

go-critic:
  name: go-critic
  entry: nexus/scripts/pre-commit-hooks/run-go-critic.sh
  language: script
  pass_filenames: false
  description: Runs `go-critic`, requires https://github.com/go-critic/go-critic

go-cyclo:
  name: go-cyclo
  entry: nexus/scripts/pre-commit-hooks/run-go-cyclo.sh
  language: script
  description: Runs `gocyclo`, requires https://github.com/fzipp/gocyclo
  args:
  - -over=15

go-generate:
  name: go-generate
  entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
  pass_filenames: false
  language: script
  description: Runs `go generate`, requires golang

fix(sdk): add generate precommit (#9)
  .pre-commit-config.yaml
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/pre-commit-hooks/run-go-generate.sh
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic

fix(sdk): add mod tidy and build pre-commit
  .pre-commit-config.yaml
  nexus/go.mod
  nexus/go.sum
  nexus/scripts/pre-commit-hooks/run-go-build.sh
  nexus/scripts/pre-commit-hooks/run-go-mod-tidy.sh
  nexus/tools.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

fix tools
  nexus/tools.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

fix(sdk): add mod tidy and build pre-commit (#10)
  .pre-commit-config.yaml
  nexus/go.mod
  nexus/go.sum
  nexus/scripts/pre-commit-hooks/run-go-build.sh
  nexus/scripts/pre-commit-hooks/run-go-mod-tidy.sh
  nexus/tools.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

fix(sdk): add more pre commit checks
  .pre-commit-config.yaml
  nexus/scripts/code-checks.sh
  nexus/setup.py
Due: none

fix(sdk): add more pre commit checks (#11)
  .pre-commit-config.yaml
  nexus/scripts/code-checks.sh
  nexus/setup.py
Due: none

chore(sdk): general fiddling and improvements
  nexus/pkg/server/connection.go
  nexus/pkg/server/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

more clean up
  nexus/pkg/server/connection.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/history.go
  nexus/pkg/server/request.go
  nexus/pkg/server/responder.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

more clean up
  nexus/pkg/server/lib.go
  nexus/pkg/server/responder.go
  nexus/pkg/server/server.go
  nexus/scripts/code-checks.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

proto
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic

fix(sdk): improve schema generation
  .pre-commit-config.yaml
  nexus/api/graphql/generate.go
  nexus/api/graphql/genqlient.yaml
  nexus/api/graphql/mutation_run.graphql
  nexus/api/graphql/query_upload.graphql
  nexus/api/graphql/query_viewer.graphql
  nexus/api/graphql/schemas/.gitignore
  nexus/api/graphql/schemas/README.md
  nexus/nexus.go
  nexus/pkg/server/schema_gen.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate

update proto
  .pre-commit-config.yaml
  nexus/api/proto/generate.go
  nexus/nexus.go
  nexus/scripts/pre-commit-hooks/run-go-generate.sh
  nexus/scripts/protobuild.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

fix(sdk): Rework generated code graphql/proto (#13)
  .pre-commit-config.yaml
  nexus/api/graphql/generate.go
  nexus/api/graphql/genqlient.yaml
  nexus/api/graphql/mutation_run.graphql
  nexus/api/graphql/query_upload.graphql
  nexus/api/graphql/query_viewer.graphql
  nexus/api/graphql/schemas/.gitignore
  nexus/api/graphql/schemas/README.md
  nexus/api/proto/generate.go
  nexus/nexus.go
  nexus/pkg/server/schema_gen.go
  nexus/scripts/pre-commit-hooks/run-go-generate.sh
  nexus/scripts/protobuild.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate

chore(nexus): rename proto build script
  nexus/api/proto/generate.go
  nexus/scripts/proto-build.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

add stub for artifact request
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

Add blank config for circle
  .circleci/config.yml
Due: none

ci(sdk): add basic nexus testing
  .circleci/config.yml
Due: none

chore(nexus): add finish-all to teardown
  nexus/pkg/server/request.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

debug ci
  .circleci/config.yml
Due: none

clean up
  nexus/pkg/server/connection.go
  nexus/pkg/server/request.go
  nexus/pkg/server/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

add stream manager
  nexus/pkg/server/connection.go
  nexus/pkg/server/request.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/stream_manager.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

remove mux from connection
  nexus/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

feat(nexus): add implicit finish support
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/mailbox.go
  nexus/pkg/server/request.go
  nexus/pkg/server/responder.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

chore(nexus): add implicit finish to teardown (#16)
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/mailbox.go
  nexus/pkg/server/request.go
  nexus/pkg/server/responder.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

simple but clean
  nexus/cmd/nexus/main.go
  nexus/pkg/hub/connection.go
  nexus/pkg/hub/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

simple but clean
  nexus/pkg/hub/connection.go
  nexus/pkg/hub/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

simple but clean
  nexus/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

simple but clean
  nexus/cmd/nexus/client.py
  nexus/cmd/nexus/main.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

simple but clean
  nexus/cmd/nexus/client.py
  nexus/cmd/nexus/main.go
  nexus/pkg/hub/connection.go
  nexus/pkg/hub/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

chore(sdk): add idea files
  nexus/.idea/.gitignore
  nexus/.idea/modules.xml
  nexus/.idea/nexus.iml
  nexus/.idea/vcs.xml
Due: none

chore(sdk): add idea files
  nexus/.idea/modules.xml
  nexus/.idea/nexus.iml
  nexus/.idea/vcs.xml
Due: none

chore(sdk): add idea files (#18)
  nexus/.idea/.gitignore
  nexus/.idea/modules.xml
  nexus/.idea/nexus.iml
  nexus/.idea/vcs.xml
Due: none

chore(sdk): small cleanups
  nexus/pkg/server/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

chore(sdk): small cleanups (#19)
  nexus/pkg/server/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

feat(sdk): support leveldb ieee crc32
  .pre-commit-config.yaml
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/leveldb/crc.go
  nexus/pkg/leveldb/record.go
  nexus/pkg/leveldb/record_internal_test.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

feat(sdk): support leveldb ieee crc32 (#20)
  .pre-commit-config.yaml
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/leveldb/crc.go
  nexus/pkg/leveldb/record.go
  nexus/pkg/leveldb/record_internal_test.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

fix(sdk): fix writer flush issue
  nexus/pkg/server/handler.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

fix(sdk): fix writer flush issue (#21)
  nexus/pkg/server/handler.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$, but not: nexus/pkg/service/
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  go-critic: any of: \.go$
  go-cyclo: any of: \.go$, but not: nexus/pkg/service/
  go-generate: any of: \.(proto|graphql)$
