Repository wandb/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

.pre-commit-config.yaml:

default_stages:
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
      - id: end-of-file-fixer
        name: end-of-file-fixer
      - id: check-yaml
        name: check-yaml
      - id: check-added-large-files
        name: check-added-large-files
      - id: check-shebang-scripts-are-executable
        name: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
        name: check-executables-have-shebangs
      - id: check-symlinks
        name: check-symlinks
      - id: check-toml
        name: check-toml
      - id: debug-statements
        name: debug-statements
      - id: forbid-submodules
        name: forbid-submodules
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        files: '^nexus/'
  - repo: local
    hooks:
      - id: go-fmt
        name: 'go-fmt'
        entry: nexus/scripts/pre-commit-hooks/run-go-fmt.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `gofmt`, requires golang"
      - id: go-imports
        name: 'go-imports'
        entry: nexus/scripts/pre-commit-hooks/run-go-imports.sh
        files: '\.go$'
        exclude: 'nexus/pkg/service/'
        language: 'script'
        description: "Runs `goimports`, requires golang"
      - id: go-unit-tests
        name: 'go-unit-tests'
        entry: nexus/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go test`"
        require_serial: true
      - id: go-vet
        name: 'go-vet'
        entry: nexus/scripts/pre-commit-hooks/run-go-vet.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go vet`, requires golang"
        require_serial: true
      - id: golangci-lint
        name: 'golangci-lint'
        entry: nexus/scripts/pre-commit-hooks/run-golangci-lint.sh
        types: [go]
        language: 'script'
        pass_filenames: false
      - id: go-critic
        name: 'go-critic'
        entry: nexus/scripts/pre-commit-hooks/run-go-critic.sh
        files: '\.go$'
        language: 'script'
        pass_filenames: false
        description: "Runs `go-critic`, requires https://github.com/go-critic/go-critic"
      - id: go-cyclo
        name: 'go-cyclo'
        entry: nexus/scripts/pre-commit-hooks/run-go-cyclo.sh
        files: '\.go$'
        exclude: 'nexus/pkg/service/'
        language: 'script'
        description: "Runs `gocyclo`, requires https://github.com/fzipp/gocyclo"
        args:
          - -over=15
      - id: go-mod-tidy
        name: 'go-mod-tidy'
        entry: nexus/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: 'script'
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-generate
        name: 'go-generate'
        entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.(proto|graphql)$'
        pass_filenames: false
        language: 'script'
        description: "Runs `go generate`, requires golang"
      - id: go-build
        name: 'go-build'
        entry: nexus/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go build`, requires golang"

use new settings message
  nexus/api/proto/wandb_server.proto
  nexus/api/proto/wandb_settings.proto
  nexus/pkg/server/connection.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/proto-build.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

use settings branch
  .circleci/config.yml
Due: none

chore(nexus): add install-pinned script for pinned dev packages
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/install-pinned.sh
  nexus/scripts/install-pinned.txt
  nexus/scripts/proto-build.sh
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

chore(nexus): add install-pinned script for pinned dev packages (#35)
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/install-pinned.sh
  nexus/scripts/install-pinned.txt
  nexus/scripts/proto-build.sh
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

chore(nexus): introduce update-dev-env.sh to setup env
  nexus/scripts/code-checks.sh
  nexus/scripts/install-golangci-lint.sh
  nexus/scripts/install-pinned.sh
  nexus/scripts/install-pinned.txt
  nexus/scripts/proto-build.sh
  nexus/scripts/update-dev-env.sh
  nexus/scripts/update-dev-env.txt
Due: none

chore(nexus): introduce update-dev-env.sh to setup env (#36)
  nexus/scripts/code-checks.sh
  nexus/scripts/install-golangci-lint.sh
  nexus/scripts/install-pinned.sh
  nexus/scripts/install-pinned.txt
  nexus/scripts/proto-build.sh
  nexus/scripts/update-dev-env.sh
  nexus/scripts/update-dev-env.txt
Due: none

regenerate proto
  .circleci/config.yml
  nexus/api/proto/wandb_settings.proto
  nexus/go.sum
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-generate, go-build

fix go.mod
  nexus/go.mod
  nexus/go.sum
Due: none

chore(nexus): use settings with spelled out types (#26)
  nexus/api/proto/wandb_server.proto
  nexus/api/proto/wandb_settings.proto
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/auth/netrc.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/proto-build.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

refactor(filestream): improve filestream
  .circleci/config.yml
Due: none

add job info messages
  nexus/api/proto/wandb_internal.proto
  nexus/pkg/server/handler.go
  nexus/pkg/server/logging.go
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

add job info messages
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove debug prints
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): fix job type message-related breakage (#38)
  .circleci/config.yml
  nexus/api/proto/wandb_internal.proto
  nexus/pkg/server/handler.go
  nexus/pkg/server/logging.go
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

save progress
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): propagate stream context all the way down
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Update nexus/pkg/server/handler.go
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Update nexus/pkg/server/stream.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

Update nexus/pkg/server/writer.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

revert fs changes
  nexus/pkg/server/filestream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

lint
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): propagate stream context all the way down (#39)
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

save progress on uploader
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/sender.go
  nexus/pkg/server/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

save progress on uploader
  nexus/pkg/server/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

save progress on uploader
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add uploader + minor fixes
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/uploader.go
  nexus/pkg/server/writer.go
  nexus/pyproject.toml
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

rework wait group'
  nexus/pkg/server/connection.go
  nexus/pkg/server/server.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

working version
  nexus/cmd/nexus/main.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

nice version of server
  nexus/pkg/server/connection.go
  nexus/pkg/server/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

more organization
  nexus/cmd/nexus/main.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/server.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

minor stream creation clean up
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

port changes from #41
  nexus/pkg/server/sender.go
  nexus/pkg/server/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

port changes from #41
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

port changes from #41
  nexus/pkg/server/connection.go
  nexus/pkg/server/uploader.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

pyproject.toml
  nexus/pyproject.toml
Due: none
