Repository wandb/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

.pre-commit-config.yaml:

default_stages:
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
      - id: end-of-file-fixer
        name: end-of-file-fixer
      - id: check-yaml
        name: check-yaml
      - id: check-added-large-files
        name: check-added-large-files
      - id: check-shebang-scripts-are-executable
        name: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
        name: check-executables-have-shebangs
      - id: check-symlinks
        name: check-symlinks
      - id: check-toml
        name: check-toml
      - id: debug-statements
        name: debug-statements
      - id: forbid-submodules
        name: forbid-submodules
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        files: '^nexus/'
  - repo: local
    hooks:
      - id: go-fmt
        name: 'go-fmt'
        entry: nexus/scripts/pre-commit-hooks/run-go-fmt.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `gofmt`, requires golang"
      - id: go-imports
        name: 'go-imports'
        entry: nexus/scripts/pre-commit-hooks/run-go-imports.sh
        files: '\.go$'
        exclude: 'nexus/pkg/service/'
        language: 'script'
        description: "Runs `goimports`, requires golang"
      - id: go-unit-tests
        name: 'go-unit-tests'
        entry: nexus/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go test`"
        require_serial: true
      - id: go-vet
        name: 'go-vet'
        entry: nexus/scripts/pre-commit-hooks/run-go-vet.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go vet`, requires golang"
        require_serial: true
      - id: golangci-lint
        name: 'golangci-lint'
        entry: nexus/scripts/pre-commit-hooks/run-golangci-lint.sh
        types: [go]
        language: 'script'
        pass_filenames: false
      - id: go-critic
        name: 'go-critic'
        entry: nexus/scripts/pre-commit-hooks/run-go-critic.sh
        files: '\.go$'
        language: 'script'
        pass_filenames: false
        description: "Runs `go-critic`, requires https://github.com/go-critic/go-critic"
      - id: go-cyclo
        name: 'go-cyclo'
        entry: nexus/scripts/pre-commit-hooks/run-go-cyclo.sh
        files: '\.go$'
        exclude: 'nexus/pkg/service/'
        language: 'script'
        description: "Runs `gocyclo`, requires https://github.com/fzipp/gocyclo"
        args:
          - -over=15
      - id: go-mod-tidy
        name: 'go-mod-tidy'
        entry: nexus/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: 'script'
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-generate
        name: 'go-generate'
        entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.(proto|graphql)$'
        pass_filenames: false
        language: 'script'
        description: "Runs `go generate`, requires golang"
      - id: go-build
        name: 'go-build'
        entry: nexus/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go build`, requires golang"

now implicit finish works
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

now it works and cleaner
  nexus/pkg/server/filestream.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove commented out code
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add back defer state machine
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

first pass of autogen of settings
  nexus/api/settings/config.json
  nexus/api/settings/generate.go
  nexus/api/settings/struct.go.tmpl
  nexus/cmd/settings/main.go
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/auth/netrc.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/settings.go
  nexus/pkg/tools/settings/generate.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

move nexus to wandb-core, prep for alpha release
  nexus/Makefile
  nexus/setup.py
  nexus/wandb_core/__init__.py
Due: none

add release-alpha target
  nexus/Makefile
Due: none

chore(sdk): rename to wandb-core and prep for alpha release (#27)
  nexus/Makefile
  nexus/setup.py
  nexus/wandb_core/__init__.py
Due: none

add env for stderr debug
  nexus/cmd/nexus/main.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

precommit fixes
  nexus/pkg/server/clients.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/tokenizer.go
  nexus/pkg/server/writer.go
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(nexus): clean up (#24)
  nexus/api/proto/wandb_internal.proto
  nexus/cmd/nexus/main.go
  nexus/pkg/server/clients.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/history.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/mailbox.go
  nexus/pkg/server/responder.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_manager.go
  nexus/pkg/server/stream_mux.go
  nexus/pkg/server/tokenizer.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

chore(sdk): switch to slog form logsaurus
  nexus/cmd/nexus/main.go
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/logging.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/store.go
  nexus/pkg/server/tokenizer.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): switch to slog form logsaurus (#28)
  nexus/cmd/nexus/main.go
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/logging.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/store.go
  nexus/pkg/server/tokenizer.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add stream logging
  nexus/cmd/nexus/main.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/logging.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
  nexus/pkg/server/tokenizer.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/logging.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/util.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): add stream specific logging (log-internal) (#30)
  nexus/cmd/nexus/main.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/logging.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
  nexus/pkg/server/tokenizer.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

initial version of the projects docs
  nexus-docs/.gitignore
  nexus-docs/book.toml
  nexus-docs/src/README.md
  nexus-docs/src/SUMMARY.md
  nexus-docs/src/architecture.md
  nexus-docs/src/code-generation.md
  nexus-docs/src/code-organization.md
  nexus-docs/src/end-to-end-testing.md
  nexus-docs/src/integration-testing.md
  nexus-docs/src/introduction.md
  nexus-docs/src/setup.md
  nexus-docs/src/style-guide.md
  nexus-docs/src/testing.md
  nexus-docs/src/testing.md#end-to-end-testing
  nexus-docs/src/testing.md#integration-testing
  nexus-docs/src/testing.md#unit-testing
  nexus-docs/src/unit-testing.md
Due: none

chore(sdk): add metadata
  nexus/pkg/server/handler.go
  nexus/pkg/server/metadata.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/server/handler.go
  nexus/pkg/server/metadata.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/server/metadata.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/api/proto/wandb_internal.proto
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/metadata.go
  nexus/pkg/server/settings.go
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

update
  nexus/api/proto/wandb_internal.proto
  nexus/pkg/server/handler.go
  nexus/pkg/server/metadata.go
  nexus/pkg/server/sender.go
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

minor clean up
  nexus-docs/src/SUMMARY.md
  nexus-docs/src/end-to-end-testing.md
  nexus-docs/src/integration-testing.md
  nexus-docs/src/testing.md#end-to-end-testing
  nexus-docs/src/testing.md#integration-testing
  nexus-docs/src/testing/README.md
  nexus-docs/src/testing/benchmark.md
  nexus-docs/src/testing/unit.md
Due: none

remove auto gen
  nexus/api/settings/config.json
  nexus/api/settings/generate.go
  nexus/api/settings/struct.go.tmpl
  nexus/cmd/settings/main.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

clean up
  nexus/pkg/server/handler.go
  nexus/pkg/server/metadata.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

updaet
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/server/settings.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

remove unused module
  nexus/go.mod
  nexus/go.sum
Due: none

remove auto gen
  nexus/pkg/tools/settings/generate.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

restore
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix settings
  nexus/pkg/server/connection.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/server/handler.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/stream.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/server/handler.go
  nexus/pkg/server/settings.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): add metadata (#32)
  nexus/api/proto/wandb_internal.proto
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/settings.go
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

add config to upsert
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): add upsert_run config saving (#33)
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

add version
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

update version
  nexus/setup.py
Due: none

chore(sdk): add version info (#34)
  nexus/pkg/server/sender.go
  nexus/setup.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build
