Repository wandb/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

.pre-commit-config.yaml:

default_stages:
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
      - id: end-of-file-fixer
        name: end-of-file-fixer
      - id: check-yaml
        name: check-yaml
      - id: check-added-large-files
        name: check-added-large-files
      - id: check-shebang-scripts-are-executable
        name: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
        name: check-executables-have-shebangs
      - id: check-symlinks
        name: check-symlinks
      - id: check-toml
        name: check-toml
      - id: debug-statements
        name: debug-statements
      - id: forbid-submodules
        name: forbid-submodules
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        files: '^nexus/'
  - repo: local
    hooks:
      - id: go-fmt
        name: 'go-fmt'
        entry: nexus/scripts/pre-commit-hooks/run-go-fmt.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `gofmt`, requires golang"
      - id: go-imports
        name: 'go-imports'
        entry: nexus/scripts/pre-commit-hooks/run-go-imports.sh
        files: '\.go$'
        exclude: 'nexus/pkg/service/'
        language: 'script'
        description: "Runs `goimports`, requires golang"
      - id: go-unit-tests
        name: 'go-unit-tests'
        entry: nexus/scripts/pre-commit-hooks/run-go-unit-tests.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go test`"
        require_serial: true
      - id: go-vet
        name: 'go-vet'
        entry: nexus/scripts/pre-commit-hooks/run-go-vet.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go vet`, requires golang"
        require_serial: true
      - id: golangci-lint
        name: 'golangci-lint'
        entry: nexus/scripts/pre-commit-hooks/run-golangci-lint.sh
        types: [go]
        language: 'script'
        pass_filenames: false
      - id: go-critic
        name: 'go-critic'
        entry: nexus/scripts/pre-commit-hooks/run-go-critic.sh
        files: '\.go$'
        language: 'script'
        pass_filenames: false
        description: "Runs `go-critic`, requires https://github.com/go-critic/go-critic"
      - id: go-cyclo
        name: 'go-cyclo'
        entry: nexus/scripts/pre-commit-hooks/run-go-cyclo.sh
        files: '\.go$'
        exclude: 'nexus/pkg/service/'
        language: 'script'
        description: "Runs `gocyclo`, requires https://github.com/fzipp/gocyclo"
        args:
          - -over=15
      - id: go-mod-tidy
        name: 'go-mod-tidy'
        entry: nexus/scripts/pre-commit-hooks/run-go-mod-tidy.sh
        pass_filenames: false
        language: 'script'
        description: "Runs `go mod tidy -v`, requires golang"
      - id: go-generate
        name: 'go-generate'
        entry: nexus/scripts/pre-commit-hooks/run-go-generate.sh
        files: '\.(proto|graphql)$'
        pass_filenames: false
        language: 'script'
        description: "Runs `go generate`, requires golang"
      - id: go-build
        name: 'go-build'
        entry: nexus/scripts/pre-commit-hooks/run-go-build.sh
        files: '\.go$'
        language: 'script'
        description: "Runs `go build`, requires golang"

chore(nexus): initial checkin of golang internal process
  .gitignore
  .pre-commit-config.yaml
  MANIFEST.in
  api/graphql/genqlient.graphql
  api/graphql/genqlient.yaml
  api/proto/wandb_base.proto
  api/proto/wandb_internal.proto
  api/proto/wandb_server.proto
  api/proto/wandb_telemetry.proto
  cmd/nexus/main.go
  go.mod
  go.sum
  nexus.go
  pkg/auth/netrc.go
  pkg/lib/libwbjs.go
  pkg/lib/libwbnexus.go
  pkg/server/connection.go
  pkg/server/filestream.go
  pkg/server/generated.go
  pkg/server/handler.go
  pkg/server/history.go
  pkg/server/lib.go
  pkg/server/request.go
  pkg/server/responder.go
  pkg/server/sender.go
  pkg/server/server.go
  pkg/server/stream.go
  pkg/server/util.go
  pkg/server/writer.go
  pkg/service/wandb_base.pb.go
  pkg/service/wandb_internal.pb.go
  pkg/service/wandb_server.pb.go
  pkg/service/wandb_telemetry.pb.go
  scripts/precommit.sh
  scripts/protobuild.sh
  setup.py
  wandb_nexus/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

chore(sdk): re-root the nexus dir (#3)
  nexus/.gitignore
  nexus/MANIFEST.in
  nexus/api/graphql/genqlient.graphql
  nexus/api/graphql/genqlient.yaml
  nexus/api/proto/wandb_base.proto
  nexus/api/proto/wandb_internal.proto
  nexus/api/proto/wandb_server.proto
  nexus/api/proto/wandb_telemetry.proto
  nexus/cmd/nexus/main.go
  nexus/go.mod
  nexus/go.sum
  nexus/nexus.go
  nexus/pkg/auth/netrc.go
  nexus/pkg/lib/libwbjs.go
  nexus/pkg/lib/libwbnexus.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/generated.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/history.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/request.go
  nexus/pkg/server/responder.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/precommit.sh
  nexus/scripts/protobuild.sh
  nexus/setup.py
  nexus/wandb_nexus/__init__.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

fix(sdk): add more pre commit checks (#11)
  .pre-commit-config.yaml
  nexus/scripts/code-checks.sh
  nexus/setup.py
Due: none

fix(sdk): add generate precommit (#9)
  .pre-commit-config.yaml
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/pre-commit-hooks/run-go-generate.sh
Due: go-fmt, go-unit-tests, go-vet, golangci-lint, go-critic, go-build

fix(sdk): fix vet issues (#5)
  nexus/pkg/server/connection.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/history.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/responder.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/util.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): Rework generated code graphql/proto (#13)
  .pre-commit-config.yaml
  nexus/api/graphql/generate.go
  nexus/api/graphql/genqlient.yaml
  nexus/api/graphql/mutation_run.graphql
  nexus/api/graphql/query_upload.graphql
  nexus/api/graphql/query_viewer.graphql
  nexus/api/graphql/schemas/.gitignore
  nexus/api/graphql/schemas/README.md
  nexus/api/proto/generate.go
  nexus/nexus.go
  nexus/pkg/server/schema_gen.go
  nexus/scripts/pre-commit-hooks/run-go-generate.sh
  nexus/scripts/protobuild.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

fix(sdk): add mod tidy and build pre-commit (#10)
  .pre-commit-config.yaml
  nexus/go.mod
  nexus/go.sum
  nexus/scripts/pre-commit-hooks/run-go-build.sh
  nexus/scripts/pre-commit-hooks/run-go-mod-tidy.sh
  nexus/tools.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): add golangci-lint tooling (#6)
  .pre-commit-config.yaml
  nexus/pkg/auth/netrc.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/responder.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
  nexus/scripts/pre-commit-hooks/run-golangci-lint.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): add go-critic checks (#7)
  .pre-commit-config.yaml
  nexus/pkg/server/history.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/request.go
  nexus/pkg/server/responder.go
  nexus/scripts/code-checks.sh
  nexus/scripts/pre-commit-hooks/run-go-critic.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

ci(sdk): add pre-commit tooling (#4)
  .pre-commit-config.yaml
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/lib/libwb_js.go
  nexus/pkg/lib/libwbnexus.go
  nexus/pkg/server/util.go
  nexus/pkg/server/util_test.go
  nexus/scripts/code-checks.sh
  nexus/scripts/pre-commit-hooks/run-go-fmt.sh
  nexus/scripts/pre-commit-hooks/run-go-imports.sh
  nexus/scripts/pre-commit-hooks/run-go-unit-tests.sh
  nexus/scripts/pre-commit-hooks/run-go-vet.sh
  nexus/scripts/precommit.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): rename proto build script
  nexus/api/proto/generate.go
  nexus/scripts/proto-build.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(sdk): add go-cyclo checking (#8)
  .pre-commit-config.yaml
  nexus/scripts/code-checks.sh
  nexus/scripts/pre-commit-hooks/run-go-cyclo.sh
Due: none

chore(sdk): general fiddling and improvements
  .circleci/config.yml
  nexus/pkg/server/connection.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/history.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/request.go
  nexus/pkg/server/responder.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/writer.go
  nexus/pkg/service/wandb_base.pb.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
  nexus/scripts/code-checks.sh
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): follow up clean up of errors (#56)
  nexus/cmd/nexus/main.go
  nexus/pkg/analytics/logging.go
  nexus/pkg/observability/logging.go
  nexus/pkg/observability/sentry.go
  nexus/pkg/server/clients.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/filestream_test.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/logging.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/uploader.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

refactor(nexus): simplify system monitor (#64)
  nexus/pkg/monitor/memory.go
  nexus/pkg/monitor/monitor.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add support for config (#82)
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/sender_test.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): add upsert_run config saving (#33)
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): disable debug logs in uploader (#47)
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(sdk): add version info (#34)
  nexus/pkg/server/sender.go
  nexus/setup.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(sdk): support leveldb ieee crc32 (#20)
  .pre-commit-config.yaml
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/leveldb/crc.go
  nexus/pkg/leveldb/record.go
  nexus/pkg/leveldb/record_internal_test.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): sync proto with wandb/wandb (#95)
  nexus/api/proto/wandb_internal.proto
  nexus/api/proto/wandb_server.proto
  nexus/api/proto/wandb_settings.proto
  nexus/api/proto/wandb_telemetry.proto
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/service/wandb_internal.pb.go
  nexus/pkg/service/wandb_server.pb.go
  nexus/pkg/service/wandb_settings.pb.go
  nexus/pkg/service/wandb_telemetry.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

chore(nexus): clean up handler.go (#86)
  nexus/pkg/server/handler.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): add string telemetry (was todo) (#94)
  nexus/internal/nexuslib/protolib.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add support for resume (#79)
  nexus/api/graphql/mutation_create_run_files.graphql
  nexus/api/graphql/query_run_resume_status.graphql
  nexus/api/graphql/query_upload.graphql
  nexus/api/proto/wandb_internal.proto
  nexus/internal/gql/gql_gen.go
  nexus/internal/uploader/uploader.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/util.go
  nexus/pkg/service/wandb_internal.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

fix(sdk): fix color of wandb in implicit finish footer
  nexus/pkg/server/lib.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): introduce internal and move artifacts to a pkg (#71)
  nexus/api/graphql/genqlient.yaml
  nexus/internal/gql/gql_gen.go
  nexus/internal/uploader/uploader.go
  nexus/pkg/artifacts/artifacts.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): stop creating trace.out by default (#80)
  nexus/cmd/nexus/main.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add disk and network assets to system monitor (#67)
  nexus/pkg/monitor/disk.go
  nexus/pkg/monitor/monitor.go
  nexus/pkg/monitor/network.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add sentry (#48)
  nexus/cmd/nexus/main.go
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/analytics/logging.go
  nexus/pkg/analytics/sentry.go
  nexus/pkg/server/clients.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/filestream_test.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/logging.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/tokenizer.go
  nexus/pkg/server/uploader.go
  nexus/pkg/server/writer.go
  nexus/scripts/pre-commit-hooks/run-go-build.sh
  nexus/setup.py
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): add missing fields for the upsert bucket (#83)
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

chore(nexus): introduce update-dev-env.sh to setup env (#36)
  nexus/scripts/code-checks.sh
  nexus/scripts/install-golangci-lint.sh
  nexus/scripts/install-pinned.sh
  nexus/scripts/install-pinned.txt
  nexus/scripts/proto-build.sh
  nexus/scripts/update-dev-env.sh
  nexus/scripts/update-dev-env.txt
Due: none

chore(sdk): small cleanups (#19)
  nexus/pkg/server/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add telemetry support (#81)
  nexus/api/graphql/schemas/README.md
  nexus/api/proto/wandb_telemetry.proto
  nexus/internal/nexuslib/protolib.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/sender_test.go
  nexus/pkg/service/wandb_telemetry.pb.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build

chore(sdk): add idea files (#18)
  nexus/.idea/.gitignore
  nexus/.idea/modules.xml
  nexus/.idea/nexus.iml
  nexus/.idea/vcs.xml
Due: none

fix(sdk): fix writer flush issue (#21)
  nexus/pkg/server/handler.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add basic file pusher (#43)
  nexus/cmd/nexus/main.go
  nexus/go.mod
  nexus/go.sum
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/responder.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/settings.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/stream_mux.go
  nexus/pkg/server/uploader.go
  nexus/pkg/server/writer.go
  nexus/pyproject.toml
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): increase connection buffer to handle large messages (#91)
  nexus/pkg/server/connection.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/server.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add attach support (#52)
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/uploader.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

fix(nexus): add pipeline pattern to stream and properly close handler and dispatcher (#62)
  nexus/cmd/nexus/main.go
  nexus/pkg/server/clients.go
  nexus/pkg/server/connection.go
  nexus/pkg/server/dispatcher.go
  nexus/pkg/server/filepusher.go
  nexus/pkg/server/filestream.go
  nexus/pkg/server/filestream_test.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/lib.go
  nexus/pkg/server/logging.go
  nexus/pkg/server/sender.go
  nexus/pkg/server/server.go
  nexus/pkg/server/store.go
  nexus/pkg/server/stream.go
  nexus/pkg/server/util.go
  nexus/pkg/server/writer.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-build

feat(nexus): add basic artifact support (#14)
  nexus/api/graphql/genqlient.yaml
  nexus/api/graphql/mutation_artifact.graphql
  nexus/api/graphql/mutation_artifact_commit.graphql
  nexus/api/graphql/mutation_artifact_files.graphql
  nexus/api/graphql/mutation_artifact_manifest.graphql
  nexus/pkg/server/artifact.go
  nexus/pkg/server/clients.go
  nexus/pkg/server/filepusher.go
  nexus/pkg/server/handler.go
  nexus/pkg/server/schema_gen.go
  nexus/pkg/server/sender.go
Due: go-fmt, go-imports, go-unit-tests, go-vet, golangci-lint, go-critic, go-cyclo, go-generate, go-build
